<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="GitHub" value="https://nuget.pkg.github.com/AciesDK/index.json" />
  </packageSources>
  <apikeys>
    <add key="https://nuget.pkg.github.com/AciesDK/index.json" value="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" />
  </apikeys>
  <packageSourceCredentials>
    <GitHub>
        <add key="Username" value="AciesDK" />
        <add key="cleartextpassword" value="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" />
      </GitHub>
  </packageSourceCredentials>
</configuration>
