<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="GitHub" value="https://nuget.pkg.github.com/AciesDK/index.json" />
  </packageSources>
  <!-- <apikeys>
    <add key="https://nuget.pkg.github.com/AciesDK/index.json" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAATYoyFvnVaEKPxFZ+kNrpWwAAAAACAAAAAAADZgAAwAAAABAAAABARy2sJf+2b50L1FjWtu7sAAAAAASAAACgAAAAEAAAAICN37RGL5chFZKujE5HkqUwAAAAmdYHBJmq0PN6/NVfHDDvMVzLqf6WfviUojR5GyZOmuMYzw08sVOr4qtkgut0SRlKFAAAAE5XdS/nKFbTWkJ7nDErxRTBOcTx" />
  </apikeys> -->
  <packageSourceCredentials>
    <GitHub>
        <add key="Username" value="AciesDK" />
        <add key="cleartextpassword" value="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" />
      </GitHub>
  </packageSourceCredentials>
</configuration>