<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="GitHub" value="https://nuget.pkg.github.com/AciesDK/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <GitHub>
        <add key="Username" value="sfr@acies.dk" />
        <add key="cleartextpassword" value="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" />
      </GitHub>
  </packageSourceCredentials>
</configuration>
